* {
    margin: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    width: 1920px;
    height: 100px;
}

nav {
    background-color: brown;
}

ul {
    background-color: rgb(202, 219, 237);
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 25px;
 
}

li a {
    display: inline-block;
    color: rgb(44, 113, 184);
    text-decoration: none;
    text-align: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    border-left: 1px solid rgb(44, 113, 184) ;
    
    padding: 10px;
    margin: 3px;
  
}

.Shipping{
    border-right: 1px solid rgb(44, 113, 184);
}

input {
    border: none;
    background-color: rgb(202, 219, 237);
    width: 100px;
    top: 12px;
    position: absolute;
 
}

div {
    background-color: rgb(202, 219, 237);
    width: 200px;
    height: 40px;
    border: 1px solid rgb(44, 113, 184);
   /*  top: 20px; */
    position: relative;
    margin-left: 30px;
}


.Logo {
position: relative;
   top: 5px;
   right: 122px;
}

.search{
     position: absolute;
     right: 5px;
     top: 5px;
     width: 30px;
     height: 30px;
     
}
 input{
    position: absolute;
    left: 20px;
 }

 ul:hover {
    color: rgb(105, 56, 80);
 }
